<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text-to-Speech</title>
</head>
<body>
   <h1 style="margin-left: 1rem">Text-to-speech..</h1>
   <form role="form" method="POST" action="/tts">
    <div class="form-group">
      <input type="text" name="text" class="form-control" id="url-box" placeholder="Enter text you want to convert to speech..." 
      style=" margin-left: 1rem; display: block;
      width: 50%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;">
    </div>
    <br></br>   
    <button type="submit" class="btn btn-default" style="padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; color: #fff;
    background-color: #428bca;
    border-color: #357ebd; margin-left: 1rem">Send</button>
  </form>
</body>
</html>