<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated Audio:</title>
</head>
<body>
    <h1>Generated Audio with Tacotron 2:</h1>
  <audio controls>
    <source src= "/static/test.wav" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
  <!-- <h1>Generated Audio with Google-TTS:</h1>
  <audio controls>
    <source src= "/static/test_google.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>    -->
  <h2>Input text: {{text}}</h2>   
</body>
</html>